
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

/* Gradient Color: linear-gradient(90deg, #F87516 0%, #5E11FF 100%); */
